<phpunit bootstrap="bootstrap.php"
    convertErrorsToExceptions="false"
    convertWarningsToExceptions="false"
    convertNoticesToExceptions="false"
>
    <testsuites>
        <testsuite name="Berthe test suite">
            <directory>src</directory>
        </testsuite>
    </testsuites>
</phpunit>
